@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Red+Hat+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.pac-item {
  /* For Google Autocomplete container*/
  cursor: pointer !important;
}

/* Fix Google Autocomplete container border */
.pac-container {
  border-top: unset;
  box-shadow: unset;
}

/* quill view */
.quill a {
  text-decoration: underline;
}

/* Fix quill emoji not clickable */
#emoji-close-div,
.textarea-emoji-control {
  display: none !important;
}

/* quill editor styles */
.ql-editor {
  font-family: 'Red Hat Text', sans-serif;
}
.ql-editor img {
  max-width: 100%;
}
.tosTable tr,
.tosTable td {
  border: 1px solid black;
  padding: 15px;
}
.tosTable thead {
  background-color: #2c0b3f;
  color: #ffffff;
}
.faqLinks a {
  text-decoration: underline;
}
.faqLinks a:hover {
  text-decoration: underline;
  color: #c2449f;
}
.ql-video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.ql-video-wrapper iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ql-container.ql-disabled .ql-tooltip {
  display: none;
}

/* Loader CSS */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: .5s;
}
.dot-flashing::before {
  left: -15px;
  animation-delay: 0s;
}
.dot-flashing::before, .dot-flashing::after {
  border-radius: 5px;
  width: 10px;
  height: 10px;
  animation: dot-flashing 1s infinite alternate;
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::after {
  left: 15px;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #E1458D;
  }
  50%, 100% {
    background-color: #FFC9E2;
  }
}
